<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:object="${getpercentage}">
    <div class="container">
        ID:
        <p th:text="*{formId}"></p>
        First Name:
        <p th:text="*{fname}"></p>
        <br>
        Second Name:
        <p th:text="*{sname}"></p>
        <br>
        Percentage:
        <p th:text="*{percentage}"></p>
        Result:
        <p th:text="*{result}"></p>
        <a th:href="@{/}">Return</a>
        <br>
    </div>
</body>
</html>